<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
after Write Page
<input type="hidden"   id="receive" th:value="${test}"/>
<button id="receiveBtn"> receiveBtn</button>


</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>

    $(function(){
            $.ajax({
                url:"/getSession",
                method:"get",
                success:(res)=> {
                    if (res !== null) {
                        console.log("session=>" + res);
                    }

                },
                error:(err)=>{
                    console.log(err);
                }
            })

        const websocket = new WebSocket("ws://localhost:8080/ws");

        websocket.onmessage = function(msg){
            console.log("onMessage!");
            alert(msg.data);
        }
        websocket.onopen = function(msg){
            console.log("open!");
        }
        websocket.onclose = function(msg){
            console.log("close!");
        }


        $(document).on("click","#receiveBtn",function(){
            const receive = $("#receive").val();
            console.log(receive);
            websocket.send(receive);

        })



    })

</script>
</html>