<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
index page 입니당.
<div th:text="${board.title}"></div>

<input type="button" id="setSessionBtn" value="setSession">
<input type="button" id="getSessionBtn" value="getSession">

<a href="/write"> write로 가기 ! </a>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
    $(function(){
        $("#setSessionBtn").on("click",() => {
            $.ajax({
                url:"/giveSession",
                method:"get",
                success:(res)=>{
                    console.log(res);
                },
                error:(err)=>{
                    console.log(err);
                }

            })
        })

        $("#getSessionBtn").on("click",() => {
            $.ajax({
                url:"/getSession",
                method:"get",
                success:(res)=>{
                    console.log(res);
                },
                error:(err)=>{
                    console.log(err);
                }

            })
        })

    })
</script>
</html>