<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
write page 입니당.

<form action="/writeAction" method="get">
    <input type="text" name="title" placeholder="title">
    <input type="text" name="content" placeholder="content">
    <button type="submit">submit!</button>
</form>


</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
</script>
</html>